Q1. Create one variable containing following type of data:
(i) string
(ii) list
(iii) float
(iv) tuple

In [1]:
a = 'dhananjay'

In [2]:
b = 5

In [3]:
c = 5.66

In [4]:
T = (1,2,3,'abc',8.9,'z')

Q2. Given are some following variables containing data:
(i) var1 = ‘ ‘
(ii) var2 = ‘[ DS , ML , Python]’
(iii) var3 = [ ‘DS’ , ’ML’ , ‘Python’ ]
(iv) var4 = 1.
What will be the data type of the above given variable.

In [5]:
var1 = ''

In [6]:
type(var1)

str

In [7]:
var2 = '[ DS , ML , Python]'

In [8]:
type(var2)

str

In [9]:
var3 = [ 'DS' , 'ML' , 'Python' ]

In [10]:
type(var3)

list

In [11]:
var4 = 1

In [12]:
type(var4)

int

Q3. Explain the use of the following operators using an example:
(i) /
(ii) %
(iii) //
(iv) **

In [13]:
#(i) / It is a division operator

In [14]:
4/2

2.0

In [15]:
#(ii) % It is a modulous operator(gives remainder)

In [16]:
8%5

3

In [17]:
#(iii) // It is an operator of floor division(rounds off to the nearest integer)

In [18]:
20//7

2

In [19]:
#(iv) ** It is an exponential operator

In [20]:
2**3

8

Q4. Create a list of length 10 of your choice containing multiple types of data. Using for loop print the
element and its data type.

In [21]:
l = [1,2,2.5,'dhan','bhu',8.9,6,'pin',10,'abc']
for i in l :
    print(i)
    print(type(i))

1
<class 'int'>
2
<class 'int'>
2.5
<class 'float'>
dhan
<class 'str'>
bhu
<class 'str'>
8.9
<class 'float'>
6
<class 'int'>
pin
<class 'str'>
10
<class 'int'>
abc
<class 'str'>

Q5. Using a while loop, verify if the number A is purely divisible by number B and if so then how many
times it can be divisible.

In [22]:
A = int(input())
B = int(input())
while B <= A :
    if A%B == 0 :
        B = B + 1
        print ('A is purely divisble by B')
    else :
        print ('A is not purely divisible by B')

ValueError: invalid literal for int() with base 10: ''

Q6. Create a list containing 25 int type data. Using for loop and if-else condition print if the element is
divisible by 3 or not.

In [ ]:
l = [1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17,18,19,20,21,22,23,24,25]
for i in l :
    if i%3 == 0 :
        print(i)
        print('divisible')
    else :
        print(i)
        print('not divisible')

Q7. What do you understand about mutable and immutable data types? Give examples for both showing
this property.

In [ ]:
#Immutable objects cannot be modified after they are created, while mutable objects can.

l = [1,'dj',2.6,True,3]
l[0] = 2
l[1] = 'bc'
l[3] = False
l[2] = 6.2

In [ ]:
l

In [ ]:
#hence list 'l' is mutable

In [ ]:
a = 'abc'
a[0] = 'e'

In [ ]:
#hence string 'a' is immutable